# See https://docs.docker.com/engine/reference/builder/#dockerignore-file for more about ignoring files.

# Node dependencies
node_modules

# Build output
.next

# Ignore git directory.
/.git/
/.gitignore

# Ignore all environment files (except templates).
/.env*

# Ignore CI service files.
/.github

# Ignore Docker-related files
/.dockerignore
/Dockerfile*